.Container {
  background: #FFF;
  display: flex;
  align-items: center;
  box-shadow: 1px 1px 5px #000;
}

.FaqTitle {
  font-family: 'Kumbh Sans', sans-serif;
}

@media (min-width: 768px) {
  .Container {
    width: 90rem;
    height: 75vh;
    border-radius: 30px;
    margin: 5rem auto;
  }

  .ImgContainer {
    flex: 1;
  }

  .FaqContainer {
    flex: 1;
  }
}